@media only screen and (max-width:1400px){
    .timer svg{
        margin-top:20px;
    }
    .setup-buttons{
        margin-top: 55px;
    }
}


@media only screen and (max-width:1200px){
    .timer svg{
        margin-top: 20px;
    }
    .setup-buttons{
        margin-top: 40px;
    }
    h3{
        margin-top:40px;
    }



}

@media only screen and (max-width:1023px){
    .timer svg{
        margin-top: 20px;
    }
    .setup-buttons{
        margin-top: 40px;
    }
}

@media only screen and (max-width:740px){
    
}


